@import "tailwindcss";

/* Flip the video only on desktop (≥640px) */
@media (min-width: 640px) {
    #qr-scanner-element video {
      transform: scaleX(-1);
    }
  }

.image-sharp {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0); /* triggers GPU acceleration */
  backface-visibility: hidden;
}

.print-select-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}